<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PMTTS_Feb_10_2023.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	
	
	
	<connectionStrings>
  <add name="CC" connectionString="Data Source=DESKTOP-L0FUGSM;Initial Catalog=PMTTS_SERVER_ROOM;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="PMTTS_Feb_10_2023.Properties.Settings.PMTTS_SERVER_ROOMConnectionString"
   connectionString="Data Source=DESKTOP-L0FUGSM;Initial Catalog=PMTTS_SERVER_ROOM;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
 <userSettings>
  <PMTTS_Feb_10_2023.Properties.Settings>
   <setting name="nameS" serializeAs="String">
    <value>10 Minutes</value>
   </setting>
   <setting name="minS" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="nameS_U" serializeAs="String">
    <value>10 Minutes</value>
   </setting>
   <setting name="minS_U" serializeAs="String">
    <value>600</value>
   </setting>
  </PMTTS_Feb_10_2023.Properties.Settings>
 </userSettings>
</configuration>